name: Cache Prime Workflow

on:
  workflow_dispatch:
  push:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: cache-step
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-6c32066

      - name: prime-cache-6c32066
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"


