name: Email Verification Workflow

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 22f3001159@ds.study.iitm.ac.in
        run: echo "Hello, world!"


